<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd http://www.alibaba.com/schema/stat http://www.alibaba.com/schema/stat.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!--引入jdbc配置文件-->
	<context:property-placeholder location="classpath:config/jdbc.properties"/>
	<!--包扫描exclude-filter（不包含）-->
	<context:component-scan base-package="net.nlpeng" >
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"></context:exclude-filter>
		<context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"></context:exclude-filter>
	</context:component-scan>
	
	<!--数据源整合-->
	<!-- 配置C3P0数据源 -->
	<bean id="pooledDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}"/>
		<property name="jdbcUrl" value="${jdbc.url}"/>
		<property name="user" value="${jdbc.user}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>
	<!--mybatis操作数据-->
	<bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="pooledDataSource"></property>
		<!--全局配置文件-->
		<property name="configLocation" value="classpath:collocate/mybatis-setting.xml"></property>
		<property name="mapperLocations" value="classpath*:net/nlpeng/dao/*/*.xml"></property>
		<property name="typeAliasesPackage" value="classpath*:net.nlpeng.bean"></property>
	</bean>
	<!--扫描接口-->
	<mybatis-spring:scan base-package="classpath*:net.nlpeng.dao"/>
	
	<!-- 事务管理器 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="pooledDataSource" />
	</bean>
	<!--开启基于注解的事务-->
	<tx:annotation-driven transaction-manager="transactionManager" />
	
</beans>